/* You can add global styles to this file, and also import other style files */

body {
    font-family: sans-serif;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

.common-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.form-input {

    height: 35px;
    margin-bottom: 20px;
    border: 1px solid blueviolet;
    padding-left: 10px;
    color: blueviolet;
}


.form-button {

    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
}

.error-p{
    color: red;
  }
  
.p_message{
    color: green;
    text-align: center;
}

.carousel-caption {
    background-color: #0000007d;
    border-radius: 10px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border-radius: 5px;
  }